/* By writing too many CSS code could make you CSS file size big. 
If you could avoid duplicate lines of code by creating a class then go for that */



.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.header {
    background-color: rgb(255, 248, 243);
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: left, right bottom;
    background-size: contain, 50%;
}

.nav-title {
    font-size: 40px;
    font-weight: 800;
    line-height: 55px; /* A common rule of thumb is to set line-height to around 1.2 to 1.6 times the font-size for good readability.*/
}

.navbar-top a {
    text-decoration: none;
    color: rgb(71, 71, 71);
    font-size: 18px;
}

.navbar-btn {
    list-style: none;
    display: flex;
    margin-right: 207px;
    align-items: center;
}

.navbar-btn li {
    margin-left: 40px;
}

.navbar-top {
    margin-left: 203px;
    display: flex;
    justify-content: space-between;
}

/* shared style----------------------------- */

.orange-button {
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: none;
    padding: 16px 30px;
}

.section-title {
    color: rgb(24, 24, 24);
    font-size: 31px;
    font-weight: 700;
    line-height: 43px;
    /* text-align: center; */
}

.section-desc {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

/* banner-content starts------------------------ */
.banner {
    display: flex;
    justify-content: space-between;
    margin-left: 207px;
}

.banner-content {
    max-width: 525px;
    margin-top: 110px;
}

.banner-content h3 {
    color: rgb(71, 71, 71);
    font-size: 40px;
    font-weight: 600;
    line-height: 20px;
}

.banner-content h1 {
    color: rgb(24, 24, 24);
    font-size: 75px;
    font-weight: 700;
    line-height: 50px;
}

.banner-content p {
    margin-bottom: 27px;
    text-align: left;
}

.banner img {
    width: 520px;
    margin-right: 34px;
}

/* main style---------------------------- */

main {
    max-width: 1026px;
    margin: 0 auto;
}

/* ABOUT SECTION starts------------------------------------------- */

.about {
    border-radius: 10px;
    background-color: rgb(255, 248, 243);
    padding: 117px 140px;
    text-align: center;
    margin-top: 117px;
    margin-bottom: 117px;
}

.about-items {
    display: flex;
    justify-content: space-around;
}

.item-name {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    line-height: 15px;
}

.item-desc {
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 700;
    line-height: 15px;
}

/* WhatIDo SECTION starts --------------------------------------- */

.what-do-align {
    text-align: center;
    margin-bottom: 45px;
}

.cards {
    display: flex;
    gap: 21px;
    margin-bottom: 117px;
}

.card {
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    background: rgb(255, 255, 255);
    padding: 27px 29px;

}

.card-title {
    color: rgb(24, 24, 24);
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
}

.card-desc {
    color: rgb(117, 117, 117);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

/* RESUME Section starts ------------------------------------- */

.resume {
    display:flex;
    gap: 63px;
}

.resume h1 {
    color: rgb(71, 71, 71);
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}

.resume-title {
    color: rgb(71, 71, 71);
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
}

.resume-from {
    color: rgb(117, 117, 117);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
}

.cv-button {
    display: flex;
    justify-content: center;
}

/* Social-Container starts------------------------------- */

footer {
    max-width: 1440px;
}

.social-container {
    padding: 117px 207px;
    background: rgb(255, 248, 243);
    display: flex;
    gap: 105px;
}

.social , .message {
    width: 50%;
}

footer input[type="text"], footer input[type="email"], footer textarea{
    height: 57px;
    width: 100%;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 21px;
}

/* Responsive Media Query------------------------- */

@media screen and (max-width:576px) {
    .navbar-top , .navbar-btn , .banner , .about , .about-items , .cards , .resume , .social-container{
        flex-direction: column;
    }

    .header {
        background-image: none;
    }
    .nav-title {
        text-align: center;
    }
    .navbar-top , .navbar-btn , .banner , .about , .social-container{
        margin: 5px;
        padding: 5px;
    }
    .banner img {
        width: 100%;
    }
    .social-container {
        align-content: center;
    }
    .social , .message {
        width: 100%;
    }
}

